# TASK 1

In [50]:
import pandas as pd

In [51]:
df = pd.read_excel('assignment-data.xlsx')

In [52]:
df.head(10)

,tweet_id,created_at,tweet,retweets,username
0,833615769179144194,2017-02-20 09:54:21,Real time not cached results . https://t.co/ju...,0,88mph_Africa
1,833615060425703424,2017-02-20 09:51:32,how last minute can you be when buying a fligh...,0,88mph_Africa
2,832516558903730176,2017-02-17 09:06:29,@comark yes check the flux capacitor in our lo...,0,88mph_Africa
3,832293187670704128,2017-02-16 18:18:53,RT @iafrikan: .@88mph_Africa stopped running i...,1,88mph_Africa
4,831880802489217024,2017-02-15 15:00:13,88mph invest in Ahoy - a business travel app f...,1,88mph_Africa
5,946063916068634631,2017-12-27 17:03:09,"Ce samedi 30 décembre 2017 à @ActivSpaces, se ...",4,ActiveSpaces
6,945973955847999488,2017-12-27 11:05:41,RT @OIFfrancophonie: Retour en vidéo sur la vi...,27,ActiveSpaces
7,945972004548726785,2017-12-27 10:57:55,RT @OIFfrancophonie: L’OIF a organisé un ateli...,13,ActiveSpaces
8,945606558930690048,2017-12-26 10:45:46,Plus que deux jours et les inscriptions seront...,5,ActiveSpaces
9,945595453256687616,2017-12-26 10:01:39,RT @nlend_nyounai: Transform your idea into a ...,1,ActiveSpaces

In [53]:
print(df.columns.tolist())

['tweet_id', 'created_at', 'tweet ', 'retweets', 'username']

In [54]:
df_q1=df.loc[2:11]
df_q1=df_q1.reset_index(drop=True)
df_q1

,tweet_id,created_at,tweet,retweets,username
0,832516558903730176,2017-02-17 09:06:29,@comark yes check the flux capacitor in our lo...,0,88mph_Africa
1,832293187670704128,2017-02-16 18:18:53,RT @iafrikan: .@88mph_Africa stopped running i...,1,88mph_Africa
2,831880802489217024,2017-02-15 15:00:13,88mph invest in Ahoy - a business travel app f...,1,88mph_Africa
3,946063916068634631,2017-12-27 17:03:09,"Ce samedi 30 décembre 2017 à @ActivSpaces, se ...",4,ActiveSpaces
4,945973955847999488,2017-12-27 11:05:41,RT @OIFfrancophonie: Retour en vidéo sur la vi...,27,ActiveSpaces
5,945972004548726785,2017-12-27 10:57:55,RT @OIFfrancophonie: L’OIF a organisé un ateli...,13,ActiveSpaces
6,945606558930690048,2017-12-26 10:45:46,Plus que deux jours et les inscriptions seront...,5,ActiveSpaces
7,945595453256687616,2017-12-26 10:01:39,RT @nlend_nyounai: Transform your idea into a ...,1,ActiveSpaces
8,945595401729724416,2017-12-26 10:01:26,RT @ElongWilliam: Si tu as une idée et tu es u...,6,ActiveSpaces
9,944304498461347840,2017-12-22 20:31:51,RT @chantaledie: AWESOME https://t.co/pTu3k5LA81,2,ActiveSpaces

In [58]:

# Convert 'created-at' to datetime format
df_q1['created_at'] = pd.to_datetime(df_q1['created_at'])

# Masking created-at to show Day of the Week, Month, and Year
df_q1['created_at4'] = df_q1['created_at'].apply(lambda x: x.strftime('%A, %B %d'))

# Create 'newtweet-id' by extracting the last 5 digits and adding the reverse of the rest
df_q1['new_tweet_id'] = df_q1['tweet_id'].apply(lambda x: str(x)[-5:] + str(x)[:-5][::-1])

df_q1['username']='yyy'

df_q1[['new_tweet_id','created_at4','username']]

         new_tweet_id             created_at4 username
0  301767309855615238     Friday, February 17      yyy
1  041287076781392238   Thursday, February 16      yyy
2  170242984208088138  Wednesday, February 15      yyy
3  346316860619360649  Wednesday, December 27      yyy
4  994889748559379549  Wednesday, December 27      yyy
5  267857845400279549  Wednesday, December 27      yyy
6  900486039855606549    Tuesday, December 26      yyy
7  876166652354595549    Tuesday, December 26      yyy
8  244167927104595549    Tuesday, December 26      yyy
9  478403164894403449     Friday, December 22      yyy